@page "{id:int}"
@model FUNewsRazorPages.Pages.Tags.DeleteModel
@{
    ViewData["Title"] = "Delete Tag";
}

<h2>Delete Tag</h2>
<div class="mb-3">
    Are you sure you want to delete <strong>@Model.Tag?.TagName</strong>?
</div>
<form method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-page="Index" class="btn btn-secondary">Cancel</a>
</form>
