@page "{id:int}"
@model FUNewsRazorPages.Pages.Tags.DetailsModel
@{
    ViewData["Title"] = "Tag Details";
}

<h2>Tag Details</h2>
<div class="mb-3">
    <strong>Tag Name:</strong> @Model.Tag?.TagName
</div>
<div class="mb-3">
    <strong>Note:</strong> @Model.Tag?.Note
</div>
<p>
    <a asp-page="Edit" asp-route-id="@Model.Tag?.TagId">Edit</a> |
    <a asp-page="Index">Back to list</a>
</p>
