@page "{id:int}"
@model FUNewsRazorPages.Pages.Tags.EditModel
@{
    ViewData["Title"] = "Edit Tag";
}

<h2>Edit Tag</h2>
<form method="post">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Tag.TagName" class="form-label"></label>
        <input asp-for="Tag.TagName" class="form-control" />
        <span asp-validation-for="Tag.TagName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Tag.Note" class="form-label"></label>
        <input asp-for="Tag.Note" class="form-control" />
        <span asp-validation-for="Tag.Note" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="Index" class="btn btn-secondary">Back</a>
</form>
